#define SSID "YOUR_WIFI"
#define PASSWORD "YOUR_PASSWORD"
#define HOSTNAME "http://api.openweathermap.org/data/2.5/onecall?lat=52.5125893&lon=13.4554785&exclude=daily,minutely,alerts&units=metric&appid={YOUR_API_KEY}"
#define FORECAST_IN_HOURS 2
